*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
  




  .card {

    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
 

  }
  